<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="MatchHistory" type="com.dota.chinanaive.entity.MatchHistory" />
        <typeAlias alias="Hero" type="com.dota.chinanaive.entity.Hero" />
    </typeAliases>

    <mappers>

    </mappers>
</configuration>    