<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matchhistory">
    <resultMap type="MatchHistory" id="MatchHistoryResultMap">
      <!---->
      <id property="match_id" column="match_id"/>
      <!---->
      <id property="match_seq_num" column="match_seq_num"/>
      <!---->
      <id property="start_time" column="start_time"/>
      <!---->
      <id property="game_mode" column="game_mode"/>
      <!---->
      <id property="lobby_type" column="lobby_type"/>
      <!---->
      <id property="radiant_win" column="radiant_win"/>
      <!---->
      <id property="players" column="players"/>
    </resultMap>

    <insert id="insertMatchHistory" parameterType="MatchHistory">
        insert into t_matchhistory
        (
          match_id
          ,match_seq_num
          ,start_time
          ,game_mode
          ,lobby_type
          ,radiant_win
          ,players)
          values
       (
          #{match_id}
          ,#{match_seq_num}
          ,#{start_time}
          ,#{game_mode}
          ,#{lobby_type}
          ,#{radiant_win}
          ,#{players}
       )
    </insert>
</mapper>